# This is the configuration file for our website
[info]
title = Me, blogging!
subtitle = thoughts, science, code, jobs, and thoughts
author = Mario Krapp
aboutme = I'm a physicist by training and graduated in Earth System Science. <p> And I like coding. I've been working with complex computer models ever since my undergrad and I enjoy data exploration and data analysis to gain insights into the underlying principles. <p> Feel free to contact me.
info = I use this blog to write irregularly about anything (not everything) I think is worth writing about and who knows, maybe you like it and come back.
[config]
theme = classic
syntax = markdown
url = https://www.mariokrapp.com
output = blog
lang = de/en
[contact]
twitter = mkrapp3000
email = mariokrapp@gmail.com
facebook =
google+ =
github = mkrapp
linkedin = https://de.linkedin.com/in/mariokrapp 
