$base-font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$base-font-size: 15px;
$content-width:  87.5% !default;
$code-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
:root {
	--minima-background-color: #fffff7;
	--minima-code-background-color: #f7f9fa;
}
