---
layout: default
---

{{ content }}

<div class="wrapper">
	<div class="footer-col-wrapper">
		<div class="footer-col footer-col-3">
			<h2>Spotify</h2>
			<h3>Pommels3000</h3>
			<iframe src="https://open.spotify.com/embed/playlist/1rabGq1EiIM2Eb5Lutjwtf" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			<h3>Car37</h3>
			<iframe src="https://open.spotify.com/embed/playlist/2fikfzDIVOMJY77ICHYLlG" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		</div>
		<div class="footer-col footer-col-3">
			<h2>Twitter</h2>
			{% twitter https://twitter.com/mkrapp3000 limit=3 %}
		</div>
	</div>

</div>
